body {
  margin: 0;
  padding: 0;

	font-family: 'Roboto', 'Myriad Pro', 'Candara', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;  /*Regular:400, Medium:500, Bold: 700*/
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;	
	list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }

 .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;	
}

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

	line-height: 18px;	
	font-weight: 500;
	color: #ffffff;

  border: none;	
}

.main-header {
	background-color: #eeeeee;
}

.inner-page .main-header {
	margin-bottom: 60px;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	

	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
}

.main-header-logo {
	margin-top: 49px;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.site-navigation a {
	display: block;

	margin-top: 73px;
	margin-right: 47px;
}

.site-navigation-current a {
	padding-bottom: 5px;
	border-bottom: 2px solid #fb565a;
}

.cart {
	display: block;

	margin-top: 73px;
}

.page-title {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;

	background-color: #eeeeee;
}

.slide .page-title {
	margin-bottom: 28px;
}

.inner-page .page-title {
	box-sizing: border-box;
	height: 240px;
	width: 100%;
	margin: 0;
	
	padding-top: 82px;
	text-align: center;
}

.features {	
	margin-bottom: 80px;

	background-color: #eeeeee;
}

.slide {
	height: 430px;

	background-repeat: no-repeat;
	background-position: top right;
}

.slide:nth-child(1) {
	background-image: url("../img/slide1.png");
}

.slide:nth-child(1) .page-title {
	width: 400px;
}

.slide:nth-child(2) {
	background-image: url("../img/slide2.png");
}

.slide:nth-child(2) .page-title {
	width: 520px;
}

.slide:nth-child(3) {
	background-image: url("../img/slide3.png");
}

.slide:nth-child(3) .page-title {
	width: 415px;
}

.slide p {
	margin-bottom: 42px;
}

.slide-button {
	background-color: #fb565a;
}

.slide-button:hover {
	background-color: #e74246;
}

.slide-button:active {
	opacity: 0.3;

	background-color: #d7373b;
}

.services {
	margin-bottom: 80px;
}

.services-list {
	display: flex;
	justify-content: flex-start;
}

.services-title {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.services-item {
	margin-right: 100px;
}

.services-item div {
  width: 300px;
  height: 146px;
  background-position: 0 0;
  background-repeat: no-repeat;  
}

.services-item:nth-child(1) div {
	background-color: #fb565a;
	background-image: url("../img/illustration-1.jpg");
}

.services-item:nth-child(2) div {
	background-color: #00ca74;
	background-image: url("../img/illustration-2.jpg");
}

.services-item:nth-child(3) div {
	background-color: #efc84a;
	background-image: url("../img/illustration-3.jpg");
}

.button-red {
	background-color: #fb565a;
}

.button-red:hover {
	background-color: #e74246;
}

.button-red:active {
	opacity: 0.3;

	background-color: #d7373b;
}

.button-green {
	background-color: #00ca74;
}

.button-green:hover {
	background-color: #00bc6c;
}

.button-green:active {
	opacity: 0.3;

	background-color: #00aa62;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover {
	background-color: #eab534;
}

.button-yellow:active {
	opacity: 0.3;

	background-color: #e5a722;
}

.promo {
	display: flex;
	flex-direction: column;
}

.promo-columns {
	display: flex;
	justify-content: space-between;
}

.promo-left {
	width: 660px;
}

.promo-big {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;	
}

.promo h3 {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.promo-right p {
	line-height: 18px;
}

.promo-bold {
	font-size: 45px;
	line-height: 10.06px;
	color: #000000;
	font-weight: 700;	
}

.promo-links ul {
	display: flex;
	justify-content: space-around; /*временно*/
}

.promo-links li {
	opacity: 0.2;
}

.promo-links li:hover {
	opacity: 1;
}

.promo-links li:active {
	opacity: 0.1;
}

.promo-links li {
	width: 210px;
	height: 90px;
	background-position: center center;
	background-repeat: no-repeat;
}

.promo-links .htmlacademy {
	background-image: url("../img/logo-htmlacademy.png");
}

.promo-links .borodinski {
	background-image: url("../img/logo-borodinski.png");
}

.promo-links .pink {
	background-image: url("../img/logo-pink.png");
}

.promo-links .Mishka {
	background-image: url("../img/logo-Mishka.png");
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
	width: 260px;
}

.filter fieldset {
	padding: 0;
  border: none;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.filter label {
	line-height: 20px;
	text-transform: uppercase;
}

.filter-price {
	background-color: #eeeeee;
	border: none;
}

.filter-option input + label {
	line-height: 20px;
	text-transform: none;

	color: #283136;
}

.filter-option input:hover + label {
	color: #000000;
}

.filter-option input:disabled + label {
	opacity: 0.3;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	opacity: 0.3;

	background-color: #d5d5d5;
}

.catalog {
	width: 760px;
}

.sorting fieldset {
  border: none;
}

.sorting legend {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	font-weight: 700;	

	text-transform: uppercase;	
}

.sorting-option label {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;	

	text-transform: uppercase;	
	opacity: 0.3;
}

.sorting-option label:hover {
	opacity: 0.6;
}

.sorting-option label:active {
	opacity: 1;
}

.option-current label {
	opacity: 1;
}

.catalog-list {
	display: flex;
  flex-wrap: wrap;

  width: 760px;
  padding: 0;
  margin: 0;
}

.catalog-item {
	width: 360px;
	height: 616px;
	margin-right: 40px;
	margin-bottom: 33px;
	position: relative;

	box-shadow: inset 0px 0px 0px 1px rgba(0,1,1,0.1);
	border-radius: 5px 5px 0 0;
}

.catalog-item:nth-child(even) {
	margin-right: 0;
}

.catalog-item:hover .catalog-item-hover {
	display: block;
}

.catalog-item div:first-child {
	width: 360px;
	height: 40px;
	background-image: url("../img/browser-light.svg");
	margin: 0;
}

.catalog-item-hover {
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;

	border-color: rgba(77,77,77,0.1);
	box-shadow: 0 0 10px rgba(0, 1, 1, 0.2);	
	display: none;	
}

.catalog-item-hover div:first-child {
	width: 360px;
	height: 40px;
	margin: 0;
	
	background-image: url("../img/browser.svg");
}

.catalog-item-hover div:last-child {
	box-sizing: border-box;
	width: 360px;
	height: 231px;	
	position: absolute;
	bottom: 0;

	text-align: center;
	padding-top: 30px;

	background-color: #eeeeee;
}

.catalog-item-hover h3 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;	

	text-transform: uppercase; 

	margin-top: 0;
	margin-bottom: 19px;
}

.catalog-item-hover p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	font-weight: 400;	

	margin-bottom: 30px;
}

.button-buy {
	background-color: #fb565a;
}

.button-buy:hover {
	background-color: #e74246;
}

.button-buy:active {
	opacity: 0.3;

	background-color: #d7373b;
}

.pagination-list {
	margin-top: 60px;
}

.pagination-item a {
	color: #000000;
	font-weight: 500;

	background-color: #eeeeee;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	border-radius: 2px;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
	background-color: #ffffff;
}

.main-footer {
	margin-top: 80px;
}

.inner-page .main-footer {
	margin-top: 60px;
}

.footer-map {
	height: 415px;
	background-image: url("../img/map.png");
	background-position: top center;
	background-repeat: no-repeat;
}

.footer-map .container {
	padding-top: 54px;
}

.footer-contacts {
	box-sizing: border-box;
	width: 319px;
	height: 308px;
	padding: 47px 50px;

	line-height: 18px;
	color: #666666;

	background-color: #ffffff;
}

.footer-contacts h3 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;	

	text-transform: uppercase;
}

.button-write {
	background-color: #fb565a;
}

.button-write:hover {
	background-color: #e74246;
}

.button-write:active {
	opacity: 0.3;

	background-color: #d7373b;
}

.footer-social {
	display: flex;
	align-items: center;
	height: 217px;
}

.footer-social div {
	margin-left: auto;
	margin-right: auto;
}

.social-button {
	color: #ffffff;

	background-color: #e1e1e1;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:active {
	opacity: 0.3;

	background-color: #d7373b;
}

.footer-social b {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}

.footer-social p {
	line-height: 22px;
	color: #444444;
}

.modal {
	line-height: 18px;
}

.modal h2 {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;	
}

.write-item label {
	color: #000000;
	font-weight: 700;	
}

.write-item input, 
.write-item textarea {
	background-color: transparent;

	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.write-item input:hover,
.write-item textarea:hover {
	border-color: #b4b9bb;
}

.write-item input:focus,
.write-item textarea:focus {
	border-color: #000000;
}

.write-item input:invalid,
.write-item textarea:invalid {
	color: #e74246;

	border-color: #e74246;
}

.write-form .button {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

	background-color: #fb565a;
	border: none;
}

.write-form button:hover {
	background-color: #e74246;
}

.write-form button:active {
	opacity: 0.3;

	background-color: #d7373b;
}